*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
     padding: 11px;
     border: 1px solid black;
     border-radius: 0.5rem;
     width: 11%;
     margin: 50px; 
     display: inline-block;
    }
.ıd{
    display: flex;
    flex-direction: row;
    }
#id{
    border-bottom: 1px solid;
    width:max-content;
    margin-left: 5px;
}

.bv{
    display: flex;
    font-weight: 100;
    /* margin-top: 2px; */
    
}
#self-bv{

}
#bv{

    text-decoration-line:underline;
    margin-left: 3px;
}
.buttons {
   display: grid;
   margin-left: 105px;
   position: absolute;

}
 
#button1{
    width: 15px;
    border: 1px white;
    background-Color: rgb(203, 199, 199);
    border-radius: 2px;
}
#button1 :hover{
    color: white;
    background-Color: grey;
}

#button2{
    width: 15px;
    margin-right: 10px;
    background-Color: rgb(203, 199, 199);
    border: 1px white;
    border-radius: 2px;
}
#button2:hover{
    color: white;
    background-Color: grey;

}
.total{
    /* display: flex;
    justify-Content: center; */
    /* font-Size: 20px; */
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.signs{
    display: flex;
    justify-Content: space-between;
    margin-top: 10px;
       
}
.sum{
    width: 30px;
    margin-Right: 20px;
    background-Color: green;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}
.times{
    width: 30px;
    margin-Left: 20px;
    background-Color: grey; 
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}