* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    padding: 11px;
    border: 1px solid black;
    border-radius: 0.5rem;
    min-width: 11%;
    width: 11%;
    margin:-40px 40px 40px 10px;
    display: inline-block;
    position: relative;    
  }
  
  @media only screen and (max-width: 767px) {
    .container {
      width: 80%;
      margin: 20px auto;
      display: block;
    }
  } 
 
  .ıd {
    display: flex;
    flex-direction: row;
  }
  h4{
    opacity: 0.7;
  }
  
  #id {
    border-bottom: 1px solid;
    width: max-content;
    margin-left: 5px;
  }
  
  .bv {
    display: flex;
    opacity: 0.5;
  }
  
  #bv {
    text-decoration-line: underline;
    margin-left: 3px;
  }
  
  .buttons {
    display: grid;
    margin-left: 105px;
    position: absolute;
  }

  @media only screen and (max-width: 767px) {
    .buttons {
   margin-left: 70%;
    }
  }

  #button1 {
    width: 15px;
    border: 1px white;
    background-color: rgb(203, 199, 199);
    border-radius: 2px;
    cursor: pointer;    
  }
  
  #button1:hover {
    color: white;
    background-color: grey;
  }
  
  #button2 {
    width: 15px;
    margin-right: 10px;
    background-color: rgb(203, 199, 199);
    border: 1px white;
    border-radius: 2px;
    cursor: pointer;
  }
  
  #button2:hover {
    color: white;
    background-color: grey;
  }
  
  .total {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .signs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .sum {
    width: 30px;
    margin-right: 20px;
    background-color: green;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
  }

  .sum:hover{
    background-color: rgb(48, 159, 122);
  }
  
  .times {
    width: 30px;
    margin-left: 20px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .times:hover{
    background-color: rgb(123, 7, 7);
  }

  
  